{% extends "header.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <body>        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'img/logo.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% for item in cart_items %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    {% if item.menproduct %}
                                                    <a href="#"><img src="{{ item.menproduct.image.url }}" alt="Image"></a>
                                                    <p>{{ item.menproduct.name }}</p>
                                                    {% elif item.womenproduct %}
                                                    <a href="#"><img src="{{ item.womenproduct.image.url }}" alt="Image"></a>
                                                    <p>{{ item.womenproduct.name }}</p>
                                                    {% elif item.kidsproduct %}
                                                    <a href="#"><img src="{{ item.kidsproduct.image.url }}" alt="Image"></a>
                                                    <p>{{ item.kidsproduct.name }}</p>
                                                    {% elif item.fashionproduct %}
                                                    <a href="#"><img src="{{ item.fashionproduct.image.url }}" alt="Image"></a>
                                                    <p>{{ item.fashionproduct.name }}</p>
                                                    {% elif item.gadgetproduct %}
                                                    <a href="#"><img src="{{ item.gadgetproduct.image.url }}" alt="Image"></a>
                                                    <p>{{ item.gadgetproduct.name }}</p>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td>
                                                {% if item.menproduct %}
                                                {{ item.menproduct.price }}
                                                {% elif item.womenproduct %}
                                                {{ item.womenproduct.price }}
                                                {% elif item.kidsproduct %}
                                                {{ item.kidsproduct.price }}
                                                {% elif item.fashionproduct %}
                                                {{ item.fashionproduct.price }}
                                                {% elif item.gadgetproduct %}
                                                {{ item.gadgetproduct.price }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="qty">
                                                    <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                    <input type="text" value="{{ item.quantity }}">
                                                    <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </td>
                                            <td>{{ item.total_price }}</td>
                                            <td>
                                                <a href="{% url 'remove_cart_item' item.id %}" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i> Remove
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    
                                </div>
                                <div class="col-md-12">
                                    <div class="cart-summary">
                                        <div class="cart-content">
                                            <h1>Cart Summary</h1>
                                            <p>Cart Cost<span>{{ cart_subtotal }}</span></p>
                                            <p>Shipping Cost<span>30</span></p>
                                            <h2>Grand Total<span>{{ cart_total }}</span></h2>
                                        </div>
                                        <div class="cart-btn">
                                            <button><a href="{% url 'checkout' %}">Checkout</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->
        
    </body>
{% endblock content %}
</html>