{% extends "header.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <body>  
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="{%static 'img/logo.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End --> 
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Verify OTP</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div style="margin-left: 38%; margin-bottom: 2%;"> 
            <form class="form" method = "post">
                {% csrf_token %}
            <p class="form-title">OTP</p>
            <div class="messages">
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" style=" margin-left:50px; color:red;" {% endif %}>{{message}}</li>
                    {% endfor %}
                </ul>
            </div>
                <div class="input-container">
                    <p>
                        <input type="hidden" name="email" value="{{ email }}" />
                        <input type="hidden" name="fake_otp" value="{{ fake_otp }}" />
                        <input class="otp" type="text" placeholder="Enter otp" id="otp" name="enter_otp" required/>
                    </p>
            </div>
                <button class="submit" type="submit">
                Submit
            </button>
            
        </form>              
        </div>
        <!-- Login End -->
        
    </body>
{% endblock content %}
</html>