{% extends "header.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <body> 
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="{%static 'img/logo.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End --> 
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Set Password</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div style="margin-left: 38%; margin-bottom: 2%;"> 
            <form class="form" method="post">
                {% csrf_token %}
            <p class="form-title">Set your Password</p>
                <div class="input-container">
                <input placeholder="Password" type="password" name="password">
            </div>
            <div class="input-container">
                <input placeholder="Retype password" type="password" name="c_password">
            </div>
                <button class="submit" type="submit">
                Sign in
            </button>
        </form>              
        </div>
        <!-- Login End -->
        
      
    </body>
{% endblock content %}
</html>